@model FarneFunds.Models.HomePageDetails

@{
    ViewBag.Title = "Lindisfarne College Foundation";
}

<div class="container">
    <div class="col-md-12 col-lg-12 jumbotron">
        <h1>Lindisfarne College Foundation</h1>
        <p>Keep track of Lindisfarne College campaigns and donations.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Recent Campaigns
                </a>
                @if (Model.CampaignList.Any())
                {
                    foreach (var item in Model.CampaignList)
                    {
                        @Html.ActionLink(item.Name, "Edit", "Campaign", new { id = @item.Id }, new { @class = "list-group-item" })
                    }
                }
                else
                {
                    <span class="list-group-item">No Current Campaigns</span>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Recent Donations
                </a>
                @if (Model.DontaionList.Any())
                {
                    foreach (var item in Model.DontaionList)
                    {
                        @Html.ActionLink(item.ContactName + " - " + item.Amount.ToString("n2"), "Edit", "Donation", new { id = @item.Id, campaignId = @item.CampaignId }, new { @class = "list-group-item" })
                    }
                }
                else
                {
                    <span class="list-group-item">No Current Donations</span>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Recent Contacts
                </a>
                @if (Model.DontaionList.Any())
                {
                    foreach (var item in Model.ContactList)
                    {
                        @Html.ActionLink(item.LastName, "Edit", "Contacts", new { id = @item.Id }, new { @class = "list-group-item" })
                    }
                }
                else
                {
                    <span class="list-group-item">No Current Contacts</span>
                }
            </div>
        </div>
    </div>
</div>